<head>
  <style>
  .borderexample {
   border-style:dashed;
   border-color:red;
  }
  </style>
</head>

<h1>My name is <%=@cat_name.name%></h1>

<p style="border:3px; border-style:dashed; border-color:#FF0000; padding: 1em;">
  <img src=http://bit.ly/1eze8aE alt="Cat">
</p>

<p class="borderexample">
  <img src=http://bit.ly/1eze8aE alt="Cat">
</p>
